/*
 * @Author: Peak Xin 
 * @Date: 2020-06-21 21:56:51 
 * @Last Modified by: Peak Xin
 * @Last Modified time: 2020-06-26 22:51:27
 */

body {
    background: url(./banner1.jpg);
    #app {
        font-size: 20px;
        .jsx {
            color: blue;
            font-size: 30px;
        }
    }
}